
body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.btn {
  background-color: #4ECCA3;
}

.btn:hover {
  background-color: #006b47;
}

.player {
  width: 16rem;
  height: 16rem;
  object-fit: stretch;
}

.computer {
  width: 16rem;
  height: 16rem;
  object-fit: stretch;
}
.choose-img {
  width: 2.5rem;
  height: 2.5rem;
}

.card-bg {
  background-color: #232b36;
}

.hidden {
  display: none;
}
